<html>
<head>
    <title>Login</title>
    <style>
        .error {
            color:red;
            text-transform:uppercase;
            font-weight:bold;
        }
    </style>
</head>

<body>
    <h2>Login</h2>
    Type in your Username and Password and press Submit
    <br>
    <br>
    <form method="post">
        <table>  
            <tr>
                <td>
                    <label>Username</label>
                </td>
                <td>
                    <input type="text" name="username" value="{{username}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="password" name="password" value="">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
		<div class="error">{{loginerror}}</div>
        
    </form>
</body>
</html>